body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.bg-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.container {
    text-align: center;
    width: 100%;
    max-width: 400px;
    background: transparent;
    border-radius: 10px;
    padding: 20px;
}

img {
    width: 80px;
    margin-bottom: 20px;
}

h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #fff;
}

h1 span {
    color: #ff79c6;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input[type="email"],
input[type="password"],
input[type="text"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
    font-size: 1rem;
    transition: background 0.3s, box-shadow 0.3s;
}

input:focus {
    outline: none;
    border: 1px solid #ff79c6;
    box-shadow: 0 0 5px #ff79c6;
}

input::placeholder {
    color: #ddd;
}

.password-container {
    position: relative;
    width: 100%;
}
.main{

    height: 15rem;
    width: 15rem;
    
}   
.password-container .icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 18px;
    color: #fff;
    transition: color 0.3s;
    right: 10px;
}

.password-container .icon:hover {
    color: #ff79c6;
}

.checkbox {
    display: flex;
    align-items: center;
    font-size: 0.9rem;
    color: #fff;
}

.checkbox input {
    margin-right: 10px;
}

button {
    padding: 10px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    background: #ff79c6;
    color: #fff;
    cursor: pointer;
    transition: background 0.3s, box-shadow 0.3s;
}

button:hover {
    background: #ff4b9b;
    box-shadow: 0 4px 8px rgba(255, 121, 198, 0.3);
}

a {
    color: #ff79c6;
    text-decoration: none;
    font-size: 0.9rem;
}

a:hover {
    text-decoration: underline;
}

.signup {
    margin-top: 15px;
    font-size: 0.9rem;
    color: #fff;
}

.signup a {
    font-weight: bold;
}

@media (max-width: 600px) {
    body {
        margin: auto;
    }

    .container {
        margin-top: 20rem;
        margin: 5rem;
        width: 100%;
        max-width: 20rem;
    }

    h1 {
        font-size: 2rem;
    }

    input {
        font-size: 0.9rem;
        padding: 8px;
    }

    button {
        font-size: 0.9rem;
        padding: 8px;
    }

    .checkbox {
        font-size: 0.8rem;
    }

    .signup {
        font-size: 0.8rem;
    }

    .img {
        position: absolute;
        top: 1rem;
        right: 2rem;
        width: 5rem;
        margin-bottom: 15px;
    }

    h1 span {
        display: block;
    }
} 