<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Role Selection</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href=" {{ url_for('static', filename='css/jobrole.css') }}">

</head>
<body>
    <div class="container">
        <img src="{{ url_for('static', filename='/img/logoo.png') }}" alt="Shakti AI Logo" class="logo">
        
        <h2>Select</h2>
        <h3>Job Role</h3>
<form method="POST" action="/job-role">
        <input type="text" class="input-box" name="job_role" placeholder="Enter Job Role">
        <input type="text" class="input-box" name="username" hidden="true" value="{{ username }}">
        <h2>Select</h2>
        <h3>Language</h3>
        <div class="language-options">
            <label><input type="radio" name="language"  value="en"> English</label>
            <label><input type="radio" name="language"  value="hi"> Hindi</label>
            <label><input type="radio" name="language"  value="mr"> Marathi</label>
        </div>
        <button class="start-btn" type="submit">Start </button>
    </div>
</form>
</body>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const username = localStorage.getItem('savedUsername');
                if (!username) {
                    window.location.href = '/';
                }
    })
</script>
</html>
