<!DOCTYPE html>
<html lang="{{ language }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='static/css/report1.css') }}">
    <title>Analysis Report</title>
</head>
<body>
    <div class="container">
        <h1>Analysis Report</h1>
        <p>{{ report }}</p>
    </div>
</body>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const username = localStorage.getItem('savedUsername');
                if (!username) {
                    window.location.href = '/';
                }
    })
</script>
</html>
