
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/signup.css') }}">
    <title>Create Account</title>
</head>
<body>
    <img src="{{ url_for('static', filename='/img/bg.gif') }}" class="bg-video" />
    <img src="{{ url_for('static', filename='/img/Logoo.png') }}" class="img" alt="Shakti AI Logo">
    
    <div class="container">
        <h1>Create an <span>Account!</span></h1>
        <form action="/signup" method="POST">
            <input type="text" name="username" id="username" placeholder="Username">
            <input type="email" name="email" id="email" placeholder="Email Address">
            
            <div class="password-container">
                <input type="password" name="password" id="password" placeholder="🔒 Password">
                <span class="icon togglePassword">👁️</span>
            </div>

            <div class="password-container">
                <input type="password" name="confirm-password" id="confirm-password" placeholder="🔒 Confirm Password">
                <span class="icon togglePassword">👁️</span>
            </div>

            <p id="error-message" style="color: red;"></p>

            <button type="submit" id ="signupButton">Sign Up</button>
        </form>
        <div class="signup">
            Already have an account? <a href="/login">Sign in</a>
        </div>
    </div>

    <script>
        // Toggle password visibility
        document.querySelectorAll('.togglePassword').forEach((icon) => {
            icon.addEventListener('click', function () {
                const passwordField = this.previousElementSibling;
                const type = passwordField.type === "password" ? "text" : "password";
                passwordField.type = type;
                this.textContent = type === "password" ? "👁️" : "🙈";
            });
        });

    </script>
</body>
</html>
